@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* colors */
  --color-main: "#E2DFD6";
  --color-sub: "#DBCFBD";
  --color-third: "#BFC2BE";
  --color-red: "#B5371F";
  --color-blue: "223FB5";
  --color-white: "#ffffff";
  --color-black: "#221B12";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    /* colors */
    --color-black: "#ffffff";
    --color-white: "#221B12";
  }
}

body {
  color: var(--color-black);
  background: var(--color-white);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
